{{#if this}}
    {{#ifCond this.category '===' "pizza" }}
       <div class="filter-container">
         <div class="filter">
           <input type="checkbox" id="vegeterian">
           <label for="vegeterian">ЗА ВЕГЕТАРИАНЦИ</label>
         </div>
         <div class="filter">
          <input type="checkbox" id="hotP">
          <label for="hotP">ПИКАНТНО</label>
        </div>
        <div class="filter">
          <input type="checkbox" id="leanP">
          <label for="leanP">ПОСТНИ</label>
        </div>
        <div class="filter">
          <input type="checkbox" id="new_p">
          <label for="new_p">НОВО</label>
        </div>
       </div>
    {{/ifCond}}
    {{#ifCond this.category '===' "starter" }}
      <div class="filter-container">
        <div class="filter">
        <input type="checkbox" id="vegeterianStarters">
        <label for="vegeterianStarters">ЗА ВЕГЕТАРИАНЦИ</label>
      </div>
     <div class="filter">
       <input type="checkbox" id="newStarters">
       <label for="newStarters">НОВО</label>
     </div>
    </div>
    {{/ifCond}}
    {{#ifCond this.category '===' "pasta" }}
     <div class="filter-container">
       <div class="filter">
        <input type="checkbox" id="spicyPasta">
        <label for="spicyPasta">ПИКАНТНО</label>
      </div>
      <div class="filter">
        <input type="checkbox" id="newPasta">
        <label for="newPasta">НОВО</label>
      </div>
     </div>
   {{/ifCond}}
   {{#ifCond this.category '===' "sauce" }}
     <div class="filter-container">
       <div class="filter">
        <input type="checkbox" id="spicySauces">
        <label for="spicySauces">ПИКАНТНО</label>
       </div>
     <div class="filter">
       <input type="checkbox" id="newSauces">
       <label for="newSauces">НОВО</label>
      </div>
    </div>
   {{/ifCond}}
   {{#ifCond this.category '===' "dessert" }}
     <div class="filter-container">
       <div class="filter">
        <input type="checkbox" id="desserts">
        <label for="desserts">ДЕСЕРТИ</label>
       </div>
     <div class="filter">
       <input type="checkbox" id="icecreams">
       <label for="icecreams">СЛАДОЛЕДИ</label>
      </div>
    </div>
   {{/ifCond}}
  {{/if}}