@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes full-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(206px - 100%));
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    bottom: 30px;
  }
  50% {
    bottom: 50px;
  }
}

body {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  background: url(../images/background.jpg) rgb(216, 175, 117);
  color: rgb(90, 90, 90);
  font-weight: normal;
}

.logo {
  width: 228px;
}

#blueLogo {
  display: none;
  position: relative;
}

#placeholder {
  height: 80px;
}

.text-col {
  width: 48%;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:active {
  color: inherit;
}

button {
  font-family: inherit;
}

.button {
  outline: 0;
  outline-offset: 0px;
  border: none;
  cursor: pointer;
  padding: 10px;
  letter-spacing: 1px;
}

#socialContainer {
  display: grid;
  grid-template-columns: minmax(230px, 1fr) 7.5px minmax(230px, 1fr) 15px minmax(
      230px,
      1fr
    );
  grid-template-rows: repeat(3, minmax(220px, 230px));
  grid-row-gap: 15px;
}

#socialContainer div {
  padding: 20px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.red-card {
  background-color: rgb(219, 9, 46);
}

.red-card:nth-of-type(2) {
  grid-column: 3/4;
}

.black-card {
  background-color: rgb(50, 50, 50);
  grid-column: 5/6;
  grid-row: 1/4;
}

.darkblue-card {
  background-color: rgb(15, 116, 168);
}

.blue-card {
  background-color: rgb(47, 170, 222);
}

.wide-card {
  grid-column: 1/4;
}

#socialContainer h2 {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  background-position: 0% center, 100% center;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url(../images/decor_elem_left_white.svg),
    url(../images/decor_elem_right_white.svg);
}

#socialContainer h3 {
  margin: 15px;
  line-height: 19px;
}

#socialContainer button {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

#socialContainer button:hover {
  opacity: 0.9;
}

.black-button {
  background-color: black;
  color: white;
  width: 290px;
}

.white-button {
  background-color: white;
  color: rgb(15, 116, 168);
  width: 93%;
}

div#appLink {
  padding-bottom: 0;
}

.icon-container {
  width: 255px;
}

.icon-container img {
  width: 75px;
  height: 75px;
}

.icon-container {
  font-size: 24px;
  font-weight: 700;
}

.transparent {
  background: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 226px);
  grid-template-rows: repeat(auto-fill, 421px);
  justify-content: center;
  gap: 15px;
}

.card-container .card {
  width: 100%;
  height: 421px;
  padding: 10px 0px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.1s;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

.card .card-tags-wrapper {
  position: absolute;
  height: 30px;
  width: auto;
  top: 0px;
  right: 5px;
}

.card .card-tag {
  width: 30px;
  height: 30px;
}

.card .title-wrapper {
  position: relative;
  padding-top: 15px;
  margin: 0 10px;
  height: 45px;
  font-size: 18px;
  border-bottom: 2px solid #d7d7d7;
  padding-bottom: 2px;
  box-sizing: border-box;
  font-weight: 700;
  color: #0073aa;
  font-family: "Open Sans Condensed", sans-serif;
  overflow: hidden;
  white-space: nowrap;
}

.card .ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  display: block;
  width: 100%;
}

.card .name-scroll {
  display: none;
  position: absolute;
  left: 0px;
}

.card:hover .ellipsis {
  display: none;
}

.card:hover .name-scroll {
  display: inline-block;
  overflow: visible;
  width: auto;
  animation: scroll-right 6s linear infinite;
}

.card:hover {
  transform: scale(1.025);
}

.card .product-description {
  font-size: 13px;
  margin: 0 15px;
  color: #888;
  line-height: 16px;
  height: 65px;
  overflow-y: auto;
  font-weight: 700;
  transition: opacity 0.1s ease-in-out;
  font-family: "Open Sans Condensed", sans-serif;
}

.card .product-picture {
  height: 180px;
  width: 180px;
  margin: 0 auto;
}

.card .btn-wrapper {
  margin: 0 10px;
  padding-top: 10px;
  border-top: 1px solid #d7d7d7;
}

.card .button {
  width: 206px;
}

.simple-card {
  overflow: hidden;
}

.simple-card .slide-up {
  visibility: hidden;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  box-sizing: border-box;
  height: 215px;
  box-shadow: 0px 5px 11px rgb(0 0 0 / 75%);
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform 0.2s ease-in-out;
  border-radius: 0 0 4px 4px;
}

.simple-card .slide-up-short {
  height: 160px;
}

.simple-card .slide-up.closed {
  transform: translateY(275px);
}

.simple-card .slide-up.opened {
  transform: translateY(0px);
  visibility: visible;
}

.simple-card .slide-up .weight-container {
  display: flex;
  padding-top: 10px;
  width: 100%;
  position: relative;
}

.simple-card .slide-up .weight-container .border {
  width: 40%;
  height: 1px;
  background: lightgrey;
  margin-top: 25px;
}

.simple-card .slide-up .weight-container .weight-center {
  width: 37px;
  height: 37px;
  margin: 4px;
  box-sizing: border-box;
  background-image: url(../images/weight.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-card .slide-up .weight-container .weight {
  text-align: center;
  color: white;
  padding-top: 10px;
  font-size: 9px;
}

.simple-card .slide-up .details {
  display: flex;
  justify-content: space-between;
}

.simple-card .slide-up .details .card-quantity,
.simple-card .slide-up .details .card-price {
  width: 45%;
  height: 57px;
  margin-top: 15px;
}

.simple-card .slide-up p {
  font-size: 14px;
  font-weight: 700;
}

.simple-card .slide-up p.price-sum {
  font-size: 20px;
  line-height: 27px;
  margin-top: 10px;
  color: #0073aa;
}

.quantity-wrapper {
  height: 26px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-wrapper .quantity-number {
  font-size: 20px;
}

.quantity-controller {
  width: 25px;
  height: 25px;
  padding: 4px;
  margin: 0 5px;
  border: 2px solid #898989;
  border-radius: 50%;
  color: #898989;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.simple-card .slide-up > button.button {
  margin-top: 25px;
}

.slide-up > div {
  width: 100%;
}

/* drinks cards */
.simple-card .productTypes {
  width: 100%;
  height: 38px;
  border-radius: 4px;
  background-color: #f2f4f5;
  cursor: pointer;
  background: #f2f4f5 url(../images/select_icon.png) 96% center no-repeat;
  appearance: none;
  border: 1px solid #0073aa;
  padding: 0 10px;
  font-size: 17px;
}

.simple-card .productTypes:focus {
  border: 1px solid #0073aa;
  outline: none;
}

.simple-card .productTypes option {
  font-size: 17px;
}

.drink-card .slide-up > button.button {
  margin-top: 0px;
}

.complex-card .top-wrapper {
  height: 235px;
}

.complex-card img.product-picture {
  width: 100%;
  object-fit: cover;
  height: 180px;
}

/* checkout page */
#checkout-basket-wrapper {
  background-color: white;
  padding: 35px;
  box-sizing: border-box;
}

#checkout-basket-wrapper h2 {
  max-width: 350px;
  padding: 0 35px;
  line-height: 28px;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0px auto 35px auto;
}

.basket-header {
  display: grid;
  grid-template-columns: 17% 34% 17% 17% 15%;
  grid-template-rows: 1fr;
  text-align: center;
  color: #898989;
  font-size: 15px;
  border-bottom: 2px solid #898989;
  padding-bottom: 5px;
}

.basket-bottom-wrapper {
  display: grid;
  grid-template-columns: 17% 34% 17% 17% 15%;
  grid-template-rows: 1fr;
  padding-top: 20px;
  padding-bottom: 10px;
}

.basket-bottom-wrapper .total {
  grid-column: 3/4;
  text-align: center;
}

.basket-bottom-wrapper #totalPriceCart {
  grid-column: 4/5;
  text-align: center;
}

#product-header {
  grid-column: 2/3;
  grid-row: 1/2;
}

#quantity-header {
  grid-column: 3/4;
  grid-row: 1/2;
}

#price-header {
  grid-column: 4/5;
  grid-row: 1/2;
}

.cart-item-container {
  width: 100%;
}

.cart-item {
  width: 100%;
  display: grid;
  grid-template-columns: 17% 34% 17% 17% 15%;
  grid-template-rows: auto;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(137, 137, 137, 0.5);
}

.cart-item .image-container {
  grid-column: 1/2;
  text-align: center;
}

.cart-item .image-container img {
  width: auto;
  height: 70px;
}

.cart-item .details-container {
  grid-column: 2/3;
  line-height: 24px;
}

.cart-item .details-container .pizza-desc {
  line-height: 19px;
  font-size: 13px;
  font-weight: 700;
}

.cart-item .details-container .ingredient-diff {
  line-height: 19px;
  font-size: 13px;
  font-style: italic;
  margin-left: 10px;
  color: #777;
}

.cart-item .quantity-wrapper {
  grid-column: 3/4;
  margin-top: 0px;
}

.cart-item .quantity-wrapper .quantity-number {
  margin: 0 10px;
  font-size: 26px;
}

.cart-item .price-container {
  grid-column: 4/5;
  text-align: center;
}

.cart-item .x-container {
  grid-column: 5/6;
}

.x-container .remove-x {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.menu-back-btn {
  font-size: 13px;
  padding: 5px 10px;
  background-color: #bbbaba;
  color: #fff;
  line-height: 19px;
  display: inline-block;
}

.order-btn-container {
  text-align: center;
}

#checkOutBtn {
  margin: 15px auto;
  font-size: 17px;
  line-height: 24px;
  width: 400px;
}

#checkOutBtn:hover {
  opacity: 0.9;
}

#registrationPage {
  background: white;
}

#registrationPage form {
  max-width: 80%;
  margin: 25px auto;
}

#registrationPage h2 {
  width: 16rem;
  margin: 0 auto 25px auto;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  background-image: url(../images/decor_elem_left_red.svg),
    url(../images/decor_elem_right_red.svg);
  background-position: -0.5% center, 100% center;
  background-size: 30px;
  background-repeat: no-repeat;
}

#registrationPage form input:not([type="submit"]),
.modal input:not([type="submit"]) {
  width: 100%;
  margin-bottom: 20px;
  height: 44px;
  font-size: 17px;
  color: #555555;
  border: 1px solid #e3e4e5;
  box-shadow: none;
  background-color: #f2f4f5;
  padding: 6px 12px;
  box-sizing: border-box;
}

#registrationPage form input:focus,
.modal input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
    0 0 8px rgb(102 175 233 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

#registrationPage form label {
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.consent {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

.checkbox {
  display: inline-block;
  min-width: 26px;
  max-width: 26px;
  height: 26px;
  line-height: 25px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #e3e4e5;
  background-color: #f2f4f5;
  position: relative;
  font-size: 22px;
}

#registrationPage label.check {
  margin-bottom: 20px;
  line-height: 20px;
}

input[type="checkbox"].hidden:checked + span.checkbox:after {
  content: "\2714";
  position: absolute;
  top: 0.05em;
  left: 0.2em;
}

label.fade-in {
  animation-name: full-fade-in;
  animation-duration: 800ms;
}

.green-button {
  width: 25%;
  height: 44px;
  font-size: 17px;
  background-color: #609e29;
  color: #fff;
}

.green-button:hover {
  background-color: #78ac36;
}

/* Modal styles */
div.modal-backdrop.in {
  opacity: 0.5;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

body.modal-open {
  padding-right: 0;
  overflow: auto;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  opacity: 0;
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}

.modal-fade {
  opacity: 0;
  transition: opacity 0.25s linear;
}

.modal-fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  transform: translate(0, 0);
}

.modal.modal-fade .modal-dialog {
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
}

.modal-content {
  position: relative;
  max-width: 640px;
  width: inherit;
  height: inherit;
  margin: 20px auto;
}

.modal-close {
  position: absolute;
  top: -14px;
  right: -12px;
  width: 35px;
  height: 35px;
  padding: 8px;
  z-index: 9;
  background-color: #0d6490;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
}

.popup-modal {
  position: relative;
  width: inherit;
  height: inherit;
}

.popup-modal::before,
.popup-modal::after {
  content: "";
  background: url(../images/box-top.png) no-repeat bottom left;
  width: 100%;
  height: 35px;
  background-size: contain;
  display: block;
}

.popup-modal::after {
  background: url(../images/box-bottom.png) no-repeat top left;
  background-size: contain;
}

.popup-curved {
  display: none;
  position: absolute;
  left: calc(50% - 45px);
  z-index: 9;
  top: 16.4px;
  height: 45px;
  width: 90px;
  border-radius: 0 0 90px 90px;
  background: #fff;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #bfbfbf;
  box-sizing: border-box;
}

.popup-curved-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: -35px auto;
  padding: 15px;
  background: #0d6490 no-repeat center center;
  background-size: 40px;
  box-sizing: border-box;
}

.popup-curved-carry-out:before {
  content: url(../images/carry_out_store_white.svg);
}

.curved-border {
  margin-top: 20px;
}

.popup-content {
  background: url(../images/box-middle.png) repeat top left;
  background-size: contain;
  padding: 20px 40px 10px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-content > .modal-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-content h3 {
  font-weight: 400;
  background-position: -4px center, 100.9% center;
  letter-spacing: 2px;
  line-height: 30px;
  width: 33%;
  min-width: 130px;
  font-size: 20px;
}

.popup-content form {
  width: 84%;
  margin-top: 25px;
}

.popup-content #deliveryModal h3,
.popup-content #restaurantModal h3 {
  width: 370px;
  padding: 0px 30px;
  box-sizing: border-box;
}

.modal-image-container {
  width: 85%;
}

.delivery-choice {
  cursor: pointer;
  width: 203px;
  height: 203px;
  border: 2px dotted #ebebeb;
  border-radius: 50%;
  padding: 24px 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #0d6490;
  max-height: 203px;
  box-sizing: border-box;
}

.delivery-choice span {
  letter-spacing: 2px;
}

.delivery-choice div.img {
  width: 102px;
  height: 102px;
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-choice div#delivery-img {
  background-image: url(../images/delivery_bike.svg);
}

.delivery-choice div#takeout-img {
  background-image: url(../images/carry_out_store.svg);
}

#restaurantModal .form-group {
  width: 100%;
}

#restaurantModal .select-wrapper select {
  width: 100%;
  height: 48px;
  background-color: #f2f4f5;
  cursor: pointer;
  background: #f2f4f5 url(../images/select_icon.png) 96% center no-repeat;
  appearance: none;
  border: 1px solid #e3e4e5;
  padding: 0 10px;
  font-size: 17px;
  color: #555;
}

#restaurantModal .select-wrapper select:focus {
  outline: none;
}

#restaurantModal .select-wrapper select option {
  font-size: 17px;
}

#remember-pass-wrapper {
  width: 100%;
}

#login {
  margin: 25px 0px;
}

.error-txt {
  color: red;
}

span.error_message {
  display: none;
  margin: 10px 0px;
}

p.register-txt {
  margin-top: 25px;
  font-size: 19px;
  letter-spacing: 0.5px;
}

a.register {
  margin-top: 25px;
  margin-bottom: 15px;
}

.modal .button:hover {
  opacity: 0.9;
}

.modal .button,
.modal .button:hover,
.modal .button:focus {
  display: block;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  letter-spacing: 1px;
  outline: 0;
  outline-offset: 0px;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  min-width: 150px;
}

.modal .registration {
  width: 84%;
}

#loadingScreen {
  background: url(../images/background.jpg) rgb(216, 175, 117);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
}

#loadingScreen img {
  display: block;
  width: 80px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#errorImage {
  max-width: 100%;
}

.icon-responsive,
#cartIconResponsive {
  display: none;
}

#cartIcon > img,
#cartIconResponsive > img {
  cursor: pointer;
}

nav#navbar-default1 {
  z-index: 10;
}

/* a.navbar-logo {
  display: inline-block;
  margin: 0px auto;
  max-width: 228px;
} */

nav#navbar-default1.navbar-default {
  background: white;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  margin-bottom: 0;
  z-index: 999;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 2px rgb(0 0 0 / 15%);
}
.nav {
  position: absolute;
  min-height: 50px;
  margin-bottom: 20px;
  border: 0px solid transparent;
  width: 100%;
}
.container {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 0px auto;
  align-items: center;
  align-content: center;
}
ul.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 5px;
}

ul.navbar-right > li {
  margin: 0px 10px;
}

ul.callcenter {
  display: flex;
  align-items: center;
}

li.language-select {
  display: flex;
  align-items: center;
}

.nav .font-bold {
  font-weight: 700;
  color: white;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
.nav.navbar-default .font-bold {
  font-weight: 700;
  color: #898989;
  font-size: 17px;
}

nav.nav.navbar-default {
  font-weight: 700;
  color: #898989;
  font-size: 17px;
}
.cart-btn {
  background-color: #609e29;
  border: none;
  cursor: pointer;
  padding: 8px;
  letter-spacing: 1px;
  outline: 0;
  outline-offset: 0px;
  margin-top: 8px;
  box-shadow: 1px 1px 1px 1px #3b611b;
}

.cart-icon {
  margin: 7px;
  width: 40px;
  height: 40px;
  position: relative;
  box-sizing: border-box;
}

.cart-icon > img {
  height: 40px;
  width: 40px;
}

.order-num {
  position: absolute;
  top: -3px;
  right: -6px;
  height: 20px;
  width: 20px;
  color: white;
  border: 2px solid white;
  background-color: #609e29;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  line-height: 20px;
}

#loggedIn img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

#loggedIn .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  position: absolute;
  top: 37px;
  right: 0px;
  min-width: 160px;
  margin-right: 10px;
}

.dropdown-menu,
#cartContent {
  display: block;
  font-size: 14px;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.dropdown-container .arrow-container,
.cart-preview .arrow-container {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: flex-end;
  padding-right: 7px;
  box-sizing: border-box;
}

.arrow-container .arrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid rgba(0, 0, 0, 0.25);
  position: relative;
}

.arrow-container .arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: 1px;
  left: -10px;
}

.dropdown-menu > li:first-of-type > a {
  border-radius: 6px 6px 0 0;
}

.dropdown-menu > li:last-of-type > a {
  border-radius: 0 0 6px 6px;
}

.dropdown-menu > li > a {
  font-weight: 700;
  color: #898989;
  text-align: right;
  padding: 10px 20px;
  background-color: white;
  display: block;
  line-height: 1.42857143;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu .divider {
  margin: 0;
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}

#cartIcon:hover > div.cart-preview {
  display: block;
  animation-name: full-fade-in;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

.cart-preview {
  position: absolute;
  top: 37px;
  left: -406px;
  width: 500px;
  margin-right: 10px;
  display: none;
}

.cart-preview .arrow-container {
  padding-right: 65px;
}

#cartContent {
  background-color: white;
  padding: 10px;
  font-weight: 400;
}

#cartContent .cart-item-container {
  max-height: calc(100vh - (80px + 205px));
  overflow-y: auto;
  border-bottom: 1px solid #f4f4f4;
}

#cartContent .cart-item .image-container img {
  width: 40px;
  height: 58px;
  object-fit: contain;
}

#cartContent .green-button {
  height: auto;
  margin-left: auto;
}

#cartContent .blue-txt {
  color: #0073aa;
}

#cartContent .cart-item .quantity-wrapper .quantity-number {
  margin: 0 5px;
  font-size: 22px;
}

#cartContent .cart-item .details-container p {
  line-height: 20px;
  font-size: 13px;
}

#empty-cart:before {
  content: " ";
  background-image: url(../images/empty_basket.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%, 50%;
  opacity: 0.4;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#empty-cart {
  position: relative;
  height: 80px;
  font-weight: 700;
  color: #0073aa;
  font-size: 16px;
}

#empty-cart > div {
  text-align: center;
  position: relative;
  width: 200px;
}

#shadow {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.45) 37%,
    rgba(0, 0, 0, 0) 100%
  );
}

.text-center {
  text-align: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
}
.tooltip > img {
  width: 30px;
  height: 30px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #337ab7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #337ab7 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.social-container img {
  width: 45px;
  height: 45px;
  margin: auto;
}
.social-container img#tel070012525 {
  position: relative;
  left: -40px;
  width: 120px;
  left: 10px;
}
.social-container a {
  padding-right: 0;
}
.social-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.social-container div.tooltip {
  margin: 15px;
}
.telFooter {
  display: flex;
}
footer img {
  vertical-align: top;
}
.list {
  margin: 10px auto;
}
.nav.navbar-default li.language-select :hover {
  color: #337ab7;
}
.nav.navbar-default #menu :hover {
  color: #337ab7;
}

li.language-select :hover {
  color: #898989;
}
#menu :hover {
  color: #898989;
}
#telText {
  display: none;
}
.visible-resposnsive {
  display: none;
}
.images {
  display: none;
}
.images > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 2px solid white;
}
.active,
.dot:hover {
  background-color: white;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 23;
}

.dots {
  color: #f2f2f2;
  font-size: 10px;
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
}
.scroll {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  animation: moveUpDown 2s linear infinite;
  cursor: pointer;
}

.slider-offer-box-wrapper {
  max-width: 550px;
  margin-top: 14vh;
  margin-left: 55px;
  cursor: pointer;
  padding: 22px 0px;
}
.center-block {
  display: block;
}
.slider-offer-box {
  background: url(../images/box-middle.png) repeat top left;
  background-size: contain;
  padding: 10px 40px;
}
.slider-offer-box .title {
  font-size: 38px;
  line-height: 49px;
  margin-bottom: 15px;
  color: #f30530;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 rgb(50 50 50 / 99%);
}
.dots-seperator {
  width: 100%;
  height: 5px;
  background: 0 0 url(../images/border.png) repeat-x;
}
.slider-offer-box .subtitle {
  font-size: 19px;
  line-height: 28px;
  padding: 10px 15px;
}
.red-decoration-title {
  background-image: url(../images/decor_elem_left_red.svg),
    url(../images/decor_elem_right_red.svg);
}
.decoration-title {
  letter-spacing: 0.5px;
  text-align: center;
  background-position: -0.5% center, 100% center;
  background-size: 30px;
  background-repeat: no-repeat;
}
.font-bold {
  font-weight: 700;
}
.black-txt {
  color: #323232;
}
.slider-offer-box .text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.margin-top-25 {
  margin-top: 25px;
}
.popup::before {
  content: "";
  background: url(../images/box-top.png) no-repeat bottom left;
  width: 100%;
  background-size: contain;
  display: block;
  height: 35px;
}
.popup::after {
  content: "";
  background: url(../images/box-bottom.png) no-repeat top left;
  width: 100%;
  background-size: contain;
  display: block;
  height: 35px;
}
.popup {
  position: absolute;
  top: 0px;
}
.light-grey-bg {
  background-color: #f2f4f5;
}
.padding-top-bottom-10 {
  padding: 10px 0;
}
#copyright {
  font-size: 13px;
  color: #0c648f;
  line-height: 27px;
  text-align: right;
}
.padding-top-bottom-10 {
  padding: 10px 0;
}
.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#telImage {
  display: none;
  top: 50px;
  left: 35px;
}
.white {
  background-color: #fff;
}
.padding-top-20 {
  padding-top: 20px;
}
footer ul li {
  letter-spacing: 0px;
}
footer ul li {
  margin: 0 9px;
  display: inline;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 45px;
}
.menu-color {
  color: #898989;
  font-size: 14px;
  font-family: "Open Sans Condensed", sans-serif;
}
#whitetel {
  display: inline;
  margin-right: 10px;
}
#greytel {
  display: inline;
  margin-right: 10px;
}
/* complex-cart */
.product-cart {
  width: 1220px;
  z-index: 99;
  transition: transform 0.4s ease-in-out;
  margin: 0 auto;
}
.close-icon {
  margin: 20px 40px;
  float: right;
  top: 20px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 25px;
  height: 25px;
}
#closeIcon {
  width: 25px;
  height: 25px;
}
.container-complex-card {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}
.box-wrapper {
  border-radius: 0;
  padding: 0 30px 15px;
  background-color: #fff;
  max-width: 100%;
}
.product-image {
  background: bottom center no-repeat;
  background-size: cover;
  margin-bottom: 25px;
  padding-top: 33%;
  background-repeat: no-repeat;
}
.product-title {
  margin-bottom: 20px;
  color: #0073aa;
  text-align: center;
  font-size: 1.5em;
  margin: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.product-title span {
  font-size: 34px;
  padding: 0 35px;
}
.product-wrapper-left {
  background: url(../images/border.png) repeat-y 99.8% 0;
  margin-top: 5px;
  padding-right: 28px;
  padding-left: 0;
  width: 60%;
  margin-right: 0;
  display: grid;
  grid-template-areas:
    " select select2"
    " ingredients ingredients";
}
.form-group {
  margin-bottom: 25px;
  margin-top: 15px;
  padding-left: 0;
  width: 50%;
  padding-right: 15px;
}
#pizza-pan {
  size: 10px;
}
.sub_toppings_container {
  grid-area: ingredients;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#edit-toppings-btn {
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.5px;
  line-height: 24px;
  background-color: #0073aa;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
}

.ingredients {
  width: 100%;
  padding-left: 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control {
  height: 44px;
  font-size: 17px;
  color: #555555;
  border: 1px solid #e3e4e5;
  box-shadow: none;
}
.light-grey-bg {
  background-color: #f2f4f5;
}
.product-wrapper {
  display: flex;
}
.product-wrapper-right {
  width: 37%;
  display: grid;
  margin-top: 10px;
  margin-left: 5px;
}
.addButton {
  width: 100%;
  height: 44px;
  font-size: 17px;
}
.weight-image {
  position: relative;
  float: right;
}

.weight_cont {
  width: 52px;
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 0;
}
.product-quantity-wrapper {
  margin-top: 5px;
  cursor: pointer;
}
.quantity > img {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  padding: 7px;
  border: 2px solid #898989;
  border-radius: 50%;
  vertical-align: middle;
}
.product-quantity {
  font-weight: 700;
  font-size: 23px;
}
.price {
  margin-top: 15px;
  padding-right: 0;
  width: 50%;
  margin-right: 0;
  justify-self: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.total-price {
  margin-top: 5px;
  font-size: 26px;
  line-height: 48px;
  font-weight: 700;
  color: #0073aa;
}
.currency {
  line-height: 48px;
  font-weight: 700;
  color: #0073aa;
}
.save-20 {
  width: 100%;
  font-size: 14px;
  color: #fff;
  background: #d71515;
  padding: 6px 0;
  text-align: center;
  position: relative;
  left: 0;
}
.left_ribbon {
  position: absolute;
  left: -11px;
  top: 3px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(-45deg);
}
.right_ribbon {
  position: absolute;
  right: -11px;
  top: 3px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(-45deg);
}
.btn-wrapper {
  margin-top: 25px;
  max-width: 100%;
}
.rounted {
  margin-bottom: 25px;
  padding: 0;
  width: 100%;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.rounted > div {
  float: left;
  height: 30px;
}
.rounded-left {
  width: 25px;
  background: url(../images/bottom_left.svg) no-repeat left top;
}
.rounded-center {
  background: #fff;
  width: calc(100% - 50px);
  box-shadow: 0px 5px 3px -2px rgb(0 0 0 / 20%);
}
.rounded-right {
  width: 25px;
  background: url(../images/bottom_right.svg) no-repeat right top;
}

#toppings-wrapper {
  /* display: none; */
  background-color: rgba(111, 64, 9, 0.3);
  color: white;
  padding-top: 30px;
}

#toppings-wrapper > h2 {
  margin-bottom: 30px;
}

#toppings-wrapper > h2 > span {
  font-size: 26px;
  padding: 0 40px;
  line-height: 28px;
}

.toppings-container {
  column-count: 4;
  column-width: 220px;
}

#toppings-wrapper .category-col {
  width: 25%;
  min-width: 220px;
  margin-bottom: 35px;
  break-inside: avoid-column;
}

#toppings-wrapper .category-col h3 {
  text-decoration: underline;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 1.17em;
}

#toppings-wrapper li {
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
}

#toppings-wrapper label {
  margin-bottom: 5px;
  line-height: 20px;
  cursor: pointer;
}

#toppings-wrapper label + div.additional-container {
  transition: all 0.1s ease-in-out;
  visibility: hidden;
  height: 0;
  padding-left: 25px;
}

#toppings-wrapper input {
  display: none;
}

#toppings-wrapper
  input.single-ingredient:checked
  + label
  + div.additional-container {
  visibility: visible;
  height: 25px;
}

#toppings-wrapper input.single-ingredient + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  vertical-align: -2px;
  box-sizing: border-box;
}

#toppings-wrapper input.single-ingredient:checked + label:before {
  background: #fff;
}

#toppings-wrapper div.additional-container input + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  vertical-align: -2px;
  box-sizing: border-box;
}

#toppings-wrapper div.additional-container input:checked + label:before {
  background: url(../images/close_x.svg) no-repeat center center;
  background-size: 8px;
}

/* menu */
.main-menu {
  display: flex;
  justify-content: center;
}
.main-menu > li > a > span {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}
.main-menu > li {
  border-radius: 0;
  padding: 5px 10px;
  margin: 10px 8.3px;
  border: 2px solid transparent;
}
.main-menu > li:hover {
  border: 2px solid white;
}
.main-menu > li > a {
  display: flex;
  flex-direction: column;
}
.main-menu > li > a > span {
  text-align: center;
}

#filter-bar,
.filter-category {
  background-color: rgba(111, 64, 9, 0.3);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}
.filter-category {
  padding: 15px 300px;
}
.filter-container {
  display: flex;
  justify-content: flex-start;
  border-top: 2px solid #fff;
}
.filter {
  margin: 5px 20px;
}
.filter > label {
  color: white;
}
.filter > input {
  border: 1px solid white;
  background-color: transparent;
}
.filter > input {
  cursor: pointer;
}
.menu-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#menuNav {
  /* padding: 10px 0; */
  display: none;
}
#combo {
  background: #be1e2d;
}
#filter-bar .main-menu li a::after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
#filter-bar .main-menu li a::before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 11px;
  margin-left: -11px;
  width: 200px;
}
.main-menu > li.checked {
  border: 2px solid white;
}
.filter-bar-icons {
  width: 50px;
  height: 50px;
  display: none;
}
.delivery-carryout_icons {
  width: 25px;
  height: 40px;
  vertical-align: middle;
}
.deals-image {
  width: 100%;
  margin: 0px;
  height: 180px;
  margin-top: -10px;
  border-radius: 4px;
  height: 142px;
}
.offer-ribbon {
  width: 150px;
  height: 36px;
  text-align: center;
  margin: 15px 0 0 0;
}
.title-wrapper-deals {
  height: 100px;
  max-height: 60px;
  color: #0073aa;
  font-weight: 700;
  font-family: "Open Sans Condensed", sans-serif;
  border-bottom: 2px solid #d7d7d7;
  margin: 10px;
}
.delivery-carryout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
  border-top: 1px solid #d7d7d7;
}
.deal-dc {
  color: #0073aa;
  font-size: 14px;
  text-align: center;
}
.card-container-deal {
  display: grid;
  grid-template-columns: repeat(auto-fill, 226px);
  grid-template-rows: repeat(auto-fill, 521px);
  justify-content: center;
  gap: 15px;
}
.card-container-deal .card {
  width: 100%;
  height: 521px;
  padding: 10px 0px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.1s;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}
#deals-button {
  margin: 0 10px;
  padding-top: 10px;
  border-top: 0px solid #d7d7d7;
}
.deals-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.first-deals > h1 {
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-weight: 700;
  font-size: 2.3em;
}
.deal-flex {
  display: flex;
  height: 500px;
  padding-bottom: 0%;
}
.deal {
  background-color: white;
  margin: 10px;
  width: 300px;
}
#deal-btn {
  width: 100%;
}
.card .rounded .complex-card .deals-card {
  position: relative;
}
.delivery-carryout > div {
  margin: 0 5px;
}
#stepper {
  background: #f4f4f4;
  border-top: 1px solid #ebebeb;
  box-shadow: 0 2px 2px rgb(0 0 0 / 15%);
  color: #555555;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.stepper-btn {
  border-left: 1px solid #ebebeb;
  padding: 15px 0;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-width: 20px 0 30px 20px;
  border-right-color: #ebebeb;
  border-right-style: solid;
}
.stepper-icon-wrapper {
  display: inline-block;
  position: relative;
}
.stepper-btn img {
  width: 25px;
  height: 25px;
}
.stepper-btn span {
  margin-left: 5px;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-right: 30px;
}
.stepper-icon-wrapper:before {
  content: url(../images/green_check.svg);
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: -4px;
}

@media screen and (max-width: 1250px) {
  .main-wrapper {
    max-width: 950px;
  }
  .container {
    width: 970px;
  }
  #telImage {
    display: block;
  }
  #tel070012525 {
    display: none;
  }
  .card-container {
    grid-template-columns: repeat(auto-fill, 220px);
  }
  .filter-category {
    display: none;
  }
}

@media (max-width: 1150px) {
  .icon-responsive {
    display: block;
    font-size: 2em;
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .scroll {
    font-size: 1em;
  }

  #cartIcon {
    display: none;
  }

  #cartIconResponsive {
    display: block;
    margin-right: 15px;
  }

  .nav a.icon {
    color: white;
  }
  .nav.navbar-default a.icon {
    color: #898989;
  }

  .headIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .dropdown-container {
    position: static;
    margin: 0px;
  }

  .dropdown-container .arrow-container {
    display: none;
  }

  .dropdown-menu {
    box-shadow: none;
    text-align: center;
  }

  .container {
    display: block;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    align-items: baseline;
    align-content: center;
  }
  .navbar-right-right.navbar-right {
    margin: 65px 0;
    font-size: 15px;
    color: #898989;
    line-height: 47px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #0d6490;
    position: absolute;
    z-index: 1000;
    /* height: 100vh; */
    width: 100vw;
  }
  .nav.navbar-default li > .font-bold {
    font-weight: 700;
    color: #898989;
    font-size: 17px;
  }
  .nav li > .font-bold {
    font-weight: 700;
    color: #898989;
    font-size: 17px;
  }
  .nav li > .font-bold.cart-btn {
    color: white;
  }

  ul.navbar-right {
    display: none;
  }
  li.language-select,
  li {
    text-align: center;
    margin: 0 auto;
  }
  .visible#telText {
    display: block;
  }
  #telNumber {
    display: none;
  }
  .visible-resposnsive {
    display: block;
  }
  .images > img {
    width: 100%;
  }
  .list {
    display: none;
  }
  /* complex-product-page */
  .product-wrapper {
    display: flex;
    flex-direction: column;
  }
  .product-wrapper-left {
    background: none;
    display: flex;
    flex-direction: column;
  }
  .product-wrapper-right {
    width: 100%;
  }
  .product-cart {
    max-width: 100%;
  }
  /* menu */
  .main-menu {
    flex-wrap: wrap;
  }
  .filter-bar-icons {
    display: block;
  }
  .deal-flex {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  #stepper {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .main-wrapper {
    max-width: 96%;
  }

  #shadow {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0.45) 37%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  #socialContainer {
    grid-template-columns: 1fr 7.5px 1fr 15px 1fr;
  }

  #socialContainer div.red-card {
    grid-column: 1/4;
  }

  .white-button,
  .black-button {
    width: 65%;
  }

  #registrationPage form {
    max-width: 93%;
  }
  .popup {
    max-width: 65%;
  }
  .images > img {
    max-width: 100%;
  }
  .slider-offer-box .title {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 5px;
  }
  .social-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
  }
  #copyright {
    text-align: center;
  }
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  }
  .product-title span {
    font-size: 26px;
  }
}

@media screen and (max-width: 850px) {
  .cart-item .image-container img {
    max-width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .text-col {
    width: 100%;
  }

  .responsive-block {
    display: block;
  }

  .modal-content {
    max-width: 505px;
  }

  #socialContainer {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 15px;
  }

  #socialContainer h2 {
    box-sizing: border-box;
    padding: 0 30px;
  }

  .black-card {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .popup-curved {
    top: 20.4px;
  }

  .popup-content #deliveryModal h3,
  .popup-content #restaurantModal h3 {
    width: 90%;
    padding: 0px 30px;
    box-sizing: border-box;
  }

  .modal-image-container {
    width: 95%;
  }

  .delivery-choice {
    width: 175px;
    height: 175px;
  }

  .delivery-choice span {
    display: block;
    font-size: 14px;
    padding: 0px 10px;
  }

  .black-card > img {
    display: none;
  }

  #registrationPage .green-button {
    width: 100%;
  }
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
    justify-content: center;
  }
  .save-20 {
    display: none;
  }
  .product-title span {
    font-size: 16px;
  }

  .cart-item,
  .basket-header,
  .basket-bottom-wrapper {
    grid-template-columns: 1% 42% 27% 20% 10%;
  }

  .cart-item .image-container img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    max-width: 90%;
  }

  .popup-curved {
    border-color: transparent;
    background-color: transparent;
  }

  .delivery-choice {
    height: 0;
    padding: 0;
    padding-bottom: 42%;
    width: 42%;
  }

  .delivery-choice div.img {
    width: 55%;
    height: 0;
    padding-bottom: 55%;
    padding-top: 20%;
  }

  .delivery-choice span {
    position: relative;
    top: -10px;
    font-size: 12px;
  }

  .white-button,
  .black-button {
    width: 70%;
  }

  .basket-header {
    color: transparent;
  }

  #checkout-basket-wrapper {
    padding: 10px;
  }

  .cart-item .quantity-wrapper .quantity-number {
    margin: 0px;
  }
}

/* @media screen and (max-width: 420px) {
  #logo-wrapper {
    width: 50%;
  }

  a.navbar-logo {
    width: 100%;
  }
  
  .logo {
    width: 100%;
  }
} */

@media screen and (max-width: 370px) {
  .white-button,
  .black-button {
    width: 85%;
  }

  .modal-image-container {
    flex-direction: column;
  }

  .delivery-choice {
    height: 0;
    padding: 0;
    padding-bottom: 70%;
    width: 70%;
  }
}
