.rounded {
  border-radius: 4px;
}

.flex {
  display: flex;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.blue-txt {
  color: #0073aa;
}

.red-btn {
  background-color: #e2213d;
}

.blue-btn {
  background-color: #0d6490;
}

.text-bold {
  font-weight: 700;
}

.text-white {
  color: white;
}

.white-decoration-title {
  color: #fff;
  background-image: url(../images/decor_elem_left_white.svg),
    url(../images/decor_elem_right_white.svg);
}
