<div id="deliveryModal" class="modal-content-wrapper">
    <h3 class="decoration-title red-decoration-title">ИЗБЕРЕТЕ НАЧИН НА ПОРЪЧКА</h3>
    <div class="modal-image-container flex space-around">
        <div id="deliveryChoice" class="delivery-choice flex column">
            <div id="delivery-img" class="img"></div>
            <span class="center-block text-center">ДОСТАВКА</span>
        </div>
        <div id="takeoutChoice" class="delivery-choice flex column">
            <div id="takeout-img" class="img"></div>
            <span class="center-block text-center">ВЗИМАНЕ ОТ МЯСТО</span>
        </div>
    </div>
</div>