<div id="restaurantModal" class="modal-content-wrapper curved-border">
    <h3 class="decoration-title red-decoration-title">ИЗБЕРЕТЕ РЕСТОРАНТ </h3>
    <div class="form-group">
        <label>РЕСТОРАНТ</label>
        <div class="select-wrapper">
            <select id="selectRestaurant" name="store_id">
                <option value="empty" rel="0">Изберете ресторант </option>
                {{#each this}}
                    <option value="{{@index}}">{{this}}</option>
                {{/each}}
                {{!-- <option value="100" data-perma="varna-levski">Варна - Левски</option>
                <option value="98" data-perma="varna-delta-planet-mall">Варна - Планет Мол</option>
                <option value="96" data-perma="plovdiv-kuchuk-paris">Пловдив - Кючук Париж</option>
                <option value="92" data-perma="Plovdiv-trakia">Пловдив - Тракия</option>
                <option value="86" data-perma="plovdiv-central">Пловдив - Център</option>
                <option value="36" data-perma="sofia-borovo">София - Борово</option>
                <option value="91" data-perma="sofia-vaptsarov">София - Вапцаров</option>
                <option value="44" data-perma="sofia-geo-milev">София - Гео Милев</option>
                <option value="89" data-perma="sofia-drujba">София - Дружба</option>
                <option value="99" data-perma="sofia-kostenski-vodopad">София - Костенски Водопад</option>
                <option value="65" data-perma="sofia-krasna-polqna">София - Красна Поляна</option>
                <option value="50" data-perma="sofia-lulin">София - Люлин</option>
                <option value="54" data-perma="sofia-mladost">София - Младост</option>
                <option value="97" data-perma="Sofia-mladost-1">София - Младост 1</option>
                <option value="90" data-perma="sofia-musagenica">София - Мусагеница</option>
                <option value="94" data-perma="sofia-nadejda">София - Надежда</option>
                <option value="81" data-perma="sofia-pavlovo">София - Павлово</option>
                <option value="95" data-perma="sofia-student-City-2">София - Студ. Град 2</option>
                <option value="48" data-perma="sofia-student-city">София - Студентски Град</option>
                <option value="93" data-perma="Sofia-Suhata-Reka">София - Сухата Река</option>
                <option value="63" data-perma="sofia-center">София - Център</option>
                <option value="41" data-perma="sofia-south-park">София - Южен парк</option> --}}
            </select>
        </div>
    </div>
</div>